<div class="fm-modal-in"></div>
<div class="fm-modal-contents">
    <div class="FileManagerLayout-header-modal"></div>
    <div class="FileManagerLayout-content-modal"></div>
    <div class="FileManagerLayout-footer-modal"></div>
</div>
