<div class="fm-modal-in"></div>
<div class="fm-modal-contents">
    <div data-region="header" class="FileManagerLayout-header-modal"></div>
    <div data-region="content" class="FileManagerLayout-content-modal"></div>
    <div data-region="footer" class="FileManagerLayout-footer-modal"></div>
</div>
