<div data-region="header" class="FileManagerLayout-header"></div>
<div data-region="nav" class="FileManagerLayout-nav"></div>
<div data-region="content" class="FileManagerLayout-content"></div>
<div data-region="footer" class="FileManagerLayout-footer"></div>
