<div class="fm-panel">
    <span class="fm-panel-btn"><a class="folder-view icon-picture active"> {{= fmTrans.get('folder.view') }}</a></span>
    <span class="fm-panel-btn"><a class="create-folder icon-folder-open"> {{= fmTrans.get('create.folder') }}</a></span>
    <span class="fm-panel-btn"><a class="load-file icon-download"> {{= fmTrans.get('load.file') }}</a></span>
    <span class="fm-panel-btn"><a class="select-remove icon-trash-empty"> {{= fmTrans.get('remove') }}</a></span>
    <span class="fm-panel-btn fm-panel-btn-right"><a class="view-th icon-menu"></a></span>
    <span class="fm-panel-btn fm-panel-btn-right"><a class="view-menu icon-th"></a></span>
</div>
<div data-content=""></div>