<form>
    <div class="fm-drop-zone">
        <div>{{= fmTrans.get('drag.file.here') }}</div>
        <div>{{= fmTrans.get('or') }}</div>
        <div class="fm-drop-zone-message">
        <div><input type="file"></div>

    </div>
</form>