$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$btn-background:#337ab7;
$btn-color:#fff;

$color_panel: #f2f2f2;
$color_content: #fff;

$fm-panel-btn-color: #000;
$nav-color: #358dcc;
$nav-color-active:#fff;

/*$nav-background:'';*/
$nav-background-active:#337ab7;

/*************header*****************/
$header-background:#f8f8f8;
$header-border:#e7e7e7;

/*************load file*****************/
$drop-zone-background:#fff;
$drop-zone-background-error:#faa;
$drop-zone-background-drop: #fff;

/*************file list*****************/
$file_background: #fefefe;
$ico_file_width:150px;
$ico_file_height:150px;
$icon-folder-color: #8f8f8f;

  /************* modal *****************/
$modal-background:#000;
$modal-background-opacity:0.3;